<p id="notice"><%= notice %></p>
<div class ="span9">
	<div class ="well">
<legend id ="fontphoto"><%= @photo.name %></legend>

<%= image_tag @photo.image_url(:large), :class => "img-polaroid" %>
</div>
</div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
